/** INDEX (HOME) CSS */

#landingBody {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    display: grid;
    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: 5vh 10vh 60vh 5vh 15vh 5vh;
}

#welcomeHeader {
    display: grid;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    align-items:center;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    color:white;
}

#jeopardyLogo {
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
    align-content:center;
    margin-left:auto;
    margin-right:auto;
}

#startGame {
    display: grid;
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    background-color: darkred;
    color:white;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    text-decoration: none;
    border-color: black;
    border-width: 0.2vw;
    border-style: solid;
}

#startGame:hover {
    background-color:rgb(28, 0, 128);
    border-color: white;
    border-width: 0.2vw;
    border-style: solid;
}

#landingFooter {
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 6;
    align-content: space-evenly;
    text-align: center;
    color: white;
    font-size: 1.5vh;
}

/** ROUND CSS */
/* ! may need to rethink / check row widths
    - awkward fit for 2nd monitor
       *- check to see what is NOT vw/vh based
        - cannot read team point values
        - cannot read which team is up
        - extra space at top of screen
        - buttons "pass" and "next" overlap answer box
        - 1000 pt question cards from cats 3 & 4 slightly overlap answer box
        - guess button looks stupid
        - category headers are tight, but I can get over that
    - extra space between 1000 pt questions and answer on screen 1
        - otherwise fits very well
    - based on how this goes, may need to create new body id for final round page (check after)
        - only issue, there is no button to submit final answer LOL
*/

.roundBody {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    grid-template-rows: 15vh 11vh 12vh 12vh 12vh 12vh 12vh 4vh 4vh 4vh;
}

.roundHeader {
    display: grid;
    grid-column: 2 / span 4;
    grid-row: 1 / span 1;
    align-items:center;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    color: white;
}

.roundName {
    text-decoration: underline;
    text-underline-offset: 0.4vw;
}

/* points: <section> class name */
.points {
    display: grid;
    grid-column: 1 / span 6;
    grid-row: 1;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* how to display name of Team A */
.aName {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    text-align: left;
    color:red;
    text-decoration: underline;
}

/* how to display name of Team B */
.bName {
    display: grid;
    grid-column: 6;
    grid-row: 1;
    text-align: right;
    color:rgb(136, 200, 221);
    text-decoration: underline;
}

/* points for Team A */
.aPts {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    text-align: left;
    color:red;
    margin-top: 5rem;
}

/* points for Team B */
.bPts {
    display: grid;
    grid-column: 6 / span 1;
    grid-row: 1;
    text-align: right;
    margin-top: 5rem;
    color:rgb(136, 200, 221);
}

/* categories: <section> class name */
.categories {
    display: grid;
    grid-row: 2 / span 1;
    grid-column: 1 / span 6;
    align-items: center;
    color:white;
    text-decoration: underline;
    text-underline-offset: 0.5em;
    align-self: center;
    font-size: small;
}

/* class for category headers */
.catHead {
    display: grid;
    grid-row: 2 / span 1;
    margin-left: auto;
    margin-right:auto;
    background-color: blue;
    padding-top:3vh;
    padding-bottom: 3vh;
    padding-left: 2vw;
    padding-right: 2vw;
    border: 2px;
    border-style: solid;
    border-color: rgb(255, 213, 0);
}

/* 6 category headers */
#cat1 {
    grid-column: 1;
}

#cat2 {
    grid-column: 2;
}

#cat3 {
    grid-column: 3;
}

#cat4 {
    grid-column: 4;
}

#cat5 {
    grid-column: 5;
}

#cat6 {
    grid-column: 6;
}

/* questions1: <section> id name for questions from category 1 */
#questions1 {
    grid-column: 1 / span 1;
}

#questions2 {
    grid-column: 2 / span 1;
}

#questions3 {
    grid-column: 3 / span 1;
}

#questions4 {
    grid-column: 4 / span 1;
}

#questions5 {
    grid-column: 5 / span 1;
}

#questions6 {
    grid-column: 6 / span 1;
}

.questionCard {
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: blue;
    border: 2px;
    border-style: solid;
    border-color: rgb(255, 213, 0);
    color: rgb(255, 213, 0);
    text-align: center;
    margin: 0.4em;
}

/* ! size change not recommended (border reduced to 0px) */
.questionCard:hover {
    color: darkred;
    border-color:black;
}

/* answerSection: <section> class name */
.answerSection {
    display: flex;
    flex-direction: row;
    grid-row: 8;
    grid-column: 3 / span 2;
    align-items: center;
    justify-content: space-around;
}

/* h3 for instruction to user where to answer */
.answerHere {
    color:white;
}

/* buttonSection: <section> class name */
.buttonSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    grid-row: 9;
    grid-column: 3 / span 2;
}

/* button for moving between rounds */
.lilButton {
    color: rgb(255, 213, 0);
    background-color: darkred;
    padding-top: 0.01em;
    padding-bottom: 0.01rem;
    margin-top: 0.75vh;
    margin-bottom: 0.75vh;
    margin-left: 0.4vw;
    margin-right: 0.4vw;
    text-decoration: none;
}

.lilButton:hover {
    color: white;
}

/* applies to footers other than the one on the index */
/* ! should be centered */
footer {
    display: grid;
    grid-column: 1 / span 6;
    grid-row: 10;
    align-content: space-evenly;
    text-align: center;
    color: white;
    font-size: 1.5vh;
}

/* all final round stuff down here */

/* finalCat: <section> class name */
#finalCat {
    color:white;
    display: grid;
    grid-column: 1 / span 6;
    grid-row: 2 / span 2;
    text-align: center;
    background-color: blue;
    border: 2px;
    border-style: solid;
    border-color: rgb(255, 213, 0);
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    align-items: center;
    text-decoration: underline;
    text-underline-offset: 0.4vh;
}

/* finalQues: <section> class name */
#finalQues {
    color:white;
    display: grid;
    grid-column: 1 / span 6;
    grid-row: 4 / span 3;
    text-align: center;
    background-color: blue;
    border: 2px;
    border-style: solid;
    border-color: rgb(255, 213, 0);
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
}

/* pointsAtStake: <section> class name */
#pointsAtStake {
    color:white;
    grid-column: 2 / span 4;
    grid-row: 7;
    display: flex;
    align-items: center;
    margin-top: 5vh;
    justify-content: space-evenly;
}

/* finalAnswer: <section> class name */
#finalAnswer {
    color: darkred;
    grid-column: 2 / span 4;
    grid-row: 8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2.5vh;
}

/* submit: <section> class name */
#submit {
    grid-column: 3 / span 2;
    grid-row: 9;
    margin-right: auto;
    margin-left: auto;
    display: none;
    /* hidden for now! */
}