/** INDEX (HOME) CSS */

#landingBody {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    display: grid;
    grid-template-columns: 24vw 49vw 24vw;
    grid-template-rows: 5vh 10vh 60vh 5vh 15vh 3vh;
}

#welcomeHeader {
    display: grid;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    align-items:center;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    color:white;
}

#jeopardyLogo {
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
    align-content:center;
    margin-left:auto;
    margin-right:auto;
}

#startGame {
    display: grid;
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    background-color: darkred;
    color:white;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    text-decoration: none;
    border-color: black;
    border-width: 0.2vw;
    border-style: solid;
}

#startGame:hover {
    background-color:rgb(28, 0, 128);
    border-color: white;
    border-width: 0.2vw;
    border-style: solid;
}

#landingFooter {
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 6;
    align-content: space-evenly;
    text-align: center;
    color: white;
    font-size: 1.5vh;
}

/** ROUND CSS */

/* separate class for roundBody so that flex display is not disturbed by css changes to index */
.roundBody {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    /* columns are evenly distributed */
    grid-template-rows: 8vh 6vh 17vh 10.5vh 10.5vh 10.5vh 10.5vh 10.5vh 6vh 4vh 4vh;
    /* rows are very specifically defined to fit their elements based on viewport */
    /* ! not quite mobile friendly (maybe someday) */
}

/* roundHeader: <section> that contains Jeopardy Round Name & which Team is up */
.roundHeader {
    display: grid;
    grid-column: 2 / span 4;
    grid-row: 1 / span 2;
    align-items:center;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    color: white;
}

.roundName {
    grid-row: 1 / span 1;
    text-decoration: underline;
    text-underline-offset: 0.4vw;
}

#teamUp {
    display: grid;
    grid-row: 2 / span 1;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 2vh;
}

/* points: <section> class name */
.points {
    display: grid;
    grid-column: 1 / span 6;
    grid-row: 1 / span 2;
    margin-left: 1vw;
    margin-right: 1vw;
}

/* how to display name of Team A */
.aName {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    text-align: left;
    color:red;
    text-decoration: underline;
}

/* how to display name of Team B */
.bName {
    display: grid;
    grid-column: 6;
    grid-row: 1;
    text-align: right;
    color:rgb(136, 200, 221);
    text-decoration: underline;
}

/* points for Team A */
.aPts {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 2;
    text-align: left;
    color:red;
}

/* points for Team B */
.bPts {
    display: grid;
    grid-column: 6 / span 1;
    grid-row: 2;
    text-align: right;
    color:rgb(136, 200, 221);
}

/* categories: <section> class name */
.categories {
    display: grid;
    grid-row: 3 / span 1;
    grid-column: 1 / span 6;
    color:white;
    text-underline-offset: 0.2rem;
    align-self: center;
    font-size: small;
    font-weight: bold;
}

/* class for category headers */
.catHead {
    text-decoration: underline;
    display:grid;
    text-align: center;
    align-content: space-evenly;
    background-color: blue;
    margin-top: 0.01vh;
    margin-bottom: 0.01vh;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    border: 2px;
    border-style: solid;
    border-color: rgb(255, 213, 0);
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 1.75vw;
    padding-right: 1.75vw;
}

/* 6 category headers in separate columns */
#cat1 {
    grid-column: 1;
}
#cat2 {
    grid-column: 2;
}
#cat3 {
    grid-column: 3;
}
#cat4 {
    grid-column: 4;
}
#cat5 {
    grid-column: 5;
}
#cat6 {
    grid-column: 6;
}

/* questions#: <section> id name for questions from category # */
#questions1 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 5;
}

#questions2 {
    grid-column: 2 / span 1;
    grid-row: 4 / span 5;
}

#questions3 {
    grid-column: 3 / span 1;
    grid-row: 4 / span 5;
}

#questions4 {
    grid-column: 4 / span 1;
    grid-row: 4 / span 5;
}

#questions5 {
    grid-column: 5 / span 1;
    grid-row: 4 / span 5;
}

#questions6 {
    grid-column: 6 / span 1;
    grid-row: 4 / span 5;
}

/* .question card: class for each card w/ the point values */
.questionCard {
    display: grid;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    background-color: blue;
    border: 2px;
    border-style: solid;
    border-color: rgb(255, 213, 0);
    color: rgb(255, 213, 0);
    text-align: center;
    margin: 0.5em;
    align-content: space-evenly;
}

.questionCard:hover {
    color: darkred;
    border-color:black;
}

/* answerSection: <section> class name */
.answerSection {
    display: flex;
    flex-direction: row;
    grid-row: 9;
    grid-column: 2 / span 4;
    align-items: center;
    justify-content: space-around;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

/* h3 for instruction to user where to answer */
.answerHere {
    color:white;
}

/* buttonSection: <section> class name */
.buttonSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    grid-row: 10;
    grid-column: 3 / span 2;
}

/* button for moving between rounds */
.lilButton {
    color: rgb(255, 213, 0);
    background-color: darkred;
    padding-top: 0.01em;
    padding-bottom: 0.01rem;
    margin-top: 0.75vh;
    margin-bottom: 0.75vh;
    margin-left: 0.4vw;
    margin-right: 0.4vw;
    text-decoration: none;
}

.lilButton:hover {
    color: white;
}

/* applies to footers other than the one on the index page */
footer {
    display: grid;
    grid-column: 1 / span 6;
    grid-row: 11;
    align-content: space-evenly;
    text-align: center;
    color: white;
    font-size: 1.5vh;
}

/* all final round stuff down here */

/* finalCat: <section> id name */
#finalCat {
    color:white;
    display: grid;
    grid-column: 1 / span 6;
    grid-row: 3 / span 2;
    text-align: center;
    background-color: blue;
    border: 2px;
    border-style: solid;
    border-color: rgb(255, 213, 0);
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    align-items: center;
    text-decoration: underline;
    text-underline-offset: 0.4vh;
}

/* finalQues: <section> id name */
#finalQues {
    color:white;
    display: grid;
    grid-column: 1 / span 6;
    grid-row: 5 / span 3;
    text-align: center;
    background-color: blue;
    border: 2px;
    border-style: solid;
    border-color: rgb(255, 213, 0);
    margin-left: 5vw;
    margin-right: 5vw;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
}

/* pointsAtStake: <section> id name */
#pointsAtStake {
    color:white;
    grid-column: 2 / span 4;
    grid-row: 8;
    display: flex;
    align-items: center;
    margin-top: 2vh;
    justify-content: space-evenly;
}

/* finalAnswer: <section> id name */
#finalAnswer {
    color: darkred;
    grid-column: 2 / span 4;
    grid-row: 9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2.5vh;
    margin-top: 1vh;
}

/* submit: <section> id name */
#submit {
    color: white;
    grid-column: 3 / span 2;
    grid-row: 10;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    font-size: medium;
    display: none;
    /*!  hidden for now! Don't forget me! */
}